@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
  /* Computer Font not like a book for the APP */
  font-family: "Lucida Console" , "Courier New" , "Monospace" ; 
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

clock {
  font-size: 20vw;
  color: black;
  padding: 15px;
  width: 100%;
  text-align: center;
}
